h1{
color: aliceblue;
text-align: center;
}
.details{
    color: rgb(241, 236, 230);
    margin-top: 15px;
text-align: center;
   
    border: 1px;
    
    
   

}


img{
    margin-left: 43cap;}
    hr{
        color: antiquewhite;
    }
