.rectangle {
    width: 20cap;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 15px auto;
    font-size: 0.8cap;
    text-align: center;
     color: rgb(108, 94, 76);
  }
  



  h3 {
    text-align: center;
    color: #4a4848;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type='number'] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 45%;
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #09100a;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
  .calculator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #c3ddc4;
    width: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin: 15px auto;
   
  }
