
<div class="parent">
<div class ="left">
    <h1>Dashboard</h1><hr>
    <h3 routerLink="home">Home</h3>
    <h3 routerLink="welcome">Welcome</h3>
    <h3 routerLink="data data-binding">data-binding </h3>
    <h3 routerLink="calculator">calculator </h3>
    <h3 routerLink="rectangle">rectangle </h3>
    <h3 routerLink="circle">circle </h3>
    <h3 routerLink="bmi">bmi</h3>
    <h3 routerLink="vehicle">vehicle</h3>
    <h3 routerLink="flipkart">Flipkart </h3>
    <h3 routerLink="weather">Weather</h3>
    <h3 routerLink="pinterest">pinterest</h3>
    <h3 routerLink="students">Students</h3>
    <h3 routerLink="user">User-details</h3>
    <h3 routerLink="schooldetails">School Details</h3>
    <h3 routerLink="sibling1">Sibling1</h3>
    <h3 routerLink="parent">parent</h3>
    <h3 routerLink="child">child</h3>
    <h3 routerLink="input-field">Input Field</h3>
    <button routerLink="/login">Logout</button>
    
</div>
<div class ="right">

    <router-outlet></router-outlet>
</div>
</div>
